<%- include('parts/head') %>
<%- include('parts/nav') %>

    <div class="container">
        <br>
        <p class="alert alert-danger">Something went wrong</p>
    </div>

<%- include('parts/footer') %>